<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>
        Hello to you Beautiful Wanderer!
    </h1>
    <caption>
        <i> You've clearly stumbled upon my small website..</i>
        <br>
        So, here's a suggestion -
    </caption>
    <%= advice %> <!--output JS as is-->
    <%- secret %> <!--render html, formatted output-->
    shhhh!
</body>
</html>